/* COOMN STYLES*/

* {
     margin: 0;
     padding: 0;
     font-family: "Vollkorn", serif;
     list-style-type: none;
     text-decoration: none;
     box-sizing: border-box;
     outline: none;
     
}
html {
    font-size: 62.5%;
}


:root {
    --primary-color: #2b81e4;
    --secondary-color: #eeeeee;
    --while-color:#fff;
    --gry-color:#555;
    --light-grey-color:#777;
}
.center {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.container {
    background-color: var(--secondary-color); 
    margin: 3.5rem;
    box-shadow: 0 1rem var(--gry-color);
    overflow: hidden;
}
/* END OF COOMN STYLES*/



#myHeader {
    width: 100%;
    height: 100px;
    display: block;
    position: absolute;
} 
#innerHeader {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;

}
#logo {
    height: 100%;
    display: table;
    float: left;
} 

#logo h4 span {
    color: white;
}
#logo h4 :hover {
    color: rgba(51,51,51,.4);
}

.nav {
    float: right;
    height: 60%;

}

.nav a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}


.nav a li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
}
.nav a :last-child {
    padding-right: 0px;
}
 a li:hover {
    color: rgba(51,51,51,.4);;
}
/* end of header */


/* Header*/

.header {
    width: 100%;
    height: calc(100vh - 3rem);
    background: linear-gradient(rgba(18,113,255,.5),
     rgba(18,113,255,.3)
     ),
      url(images/header-bg.jpg) center no-repeat;
      background-size: cover;
      position: relative;
      perspective: 100rem;
      
      
}
.header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: 0 0.3rem .7rem 
    var(--gry-color);
    
}
.heading {
    margin-top: 0px;
    font-size: 3rem;
    color: var(--while-color);
    
    
}
.header-paragraph {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
    
}
.logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    
}
.logo h1 {
    display: flex;
    
}
.logo h1 span {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: var(--while-color);
    width: 3.5rem;
    height:3.5rem;
   /* display: block; */
    margin: .5rem;
    border-radius: 50%;
    
}


/*  for logo animation property you can make one by one like this 
    animation-name:drop-letters ;
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;  
    or like multi line attribute like below:
    */
.logo h1 span:nth-child(1){
    animation: drop-letters 5s 0.1s infinite; 
}
.logo h1 span:nth-child(2){
    animation: drop-letters 5s 0.2s infinite; 
}
.logo h1 span:nth-child(3){
    animation: drop-letters 5s 0.3s infinite; 
}
.logo h1 span:nth-child(4){
    animation: drop-letters 5s 0.4s infinite; 
}
.logo h1 span:nth-child(5){
    animation: drop-letters 5s 0.5s infinite; 
}
.logo h1 span:nth-child(6){
    animation: drop-letters 5s 0.6s infinite; 
}
.logo h1 span:nth-child(7){
    animation: drop-letters 5s 0.7s infinite; 
}
.logo h1 span:nth-child(8){
    animation: drop-letters 5s 0.8s infinite; 
}.logo h1 span:nth-child(9){
    animation: drop-letters 5s 0.9s infinite; 
}

/* YOU CAN MAKE TRANSLATE Y IF YOU LIKE TO MOVE SPAN VERTICAL */
@keyframes drop-letters {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-100%);
    }
    20% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
    
}



.header-image {
    width: 35%;
    animation: image-float 150s infinite;
}
@keyframes image-float {
    0% {
        transform: translateZ(140rem);
        opacity: 1;
    }
    40% {
        transform: translateZ(-500rem)
        translateX(150rem);
        opacity: 0.8;
        
    }
    70% {
        transform: translateZ(-1500rem)
        translateX(800rem);
        opacity: 0.6;
        
    }
    80% {
        transform: translateZ(-400rem)
        translateX(100rem);
        opacity: 0.8;
        
    }
    100% {
        transform: translateZ(40rem);
        opacity: 1;
    }

}
/* END OF Header*/


/* popular tour part */
.popular-tours {
    padding: 5rem 0 10rem 0;
    height: 100%;
}
.popular-tours-heading {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 8rem;
    color: var(--primary-color);
    text-shadow: 0 .1rem .2rem var(--primary-color);

}
.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 30rem;
    position: relative; 
    perspective: 150rem;

}.card-image {
    width: 100%;
    border-radius: .3rem .3rem 0 0;

}

.front-side {
    text-align: center;
    background-color: var(--while-color);
    border-radius: .3rem;
    position: relative;
     z-index: 10; 
     opacity: .99;
     transition: opacity 0.4s,
      transform 0.4s, box-shadow 0.4s ;
}
.change > .front-side {
    transform: translateZ(-5rem)translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: .5;
    z-index: 0;
}
.tour-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 33%;
    right: 7.5rem;
    color: var(--while-color);
    text-shadow: 0 0 1rem #000;
        
}
.card-list {
    width: 70%;
    margin: auto;
    padding: 1rem 0 1.5rem 0;
}
.card-list-item {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--light-grey-color);
    margin: 2rem 0;
    border-bottom: .02rem solid var(--primary-color);
    padding-bottom: 1rem;
}

.back-side {
    position: absolute; 
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 2rem 2rem #777;
    flex-direction: column;
    transform:
     translateZ(-19rem)translateX(3rem);
     opacity: .7;
}
.change > .back-side {
    transform: translateZ(0rem)translateX(0rem);
    box-shadow: 0 .5rem 2rem #aaa;
    opacity: .5;
}


.tour-price {
    font-size: 5rem;
    font-weight: 300;
    color: var(--while-color);
    margin-bottom: 3rem;
}
.navigation-button{
    position: absolute;
    top: .0rem;
    left: .0rem;
    padding: .5rem;
    background-color: rgba(255,255,255,08);
    color: var(--light-grey-color);
    border-radius: .3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
}
.card-button {
    border-radius: .5rem;
    width: 20%;
    height: 6%;
    color: var var(--primary-color);
    background-color: var(--while-color);
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: 2rem;
    cursor: pointer; 
    
}
/*stories*/
.stories {
    padding: 10rem 0;
    position: relative;

}
.video-container  {
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 80%;
   
     
}
.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    
}
.story-bg {
    background-color: #bbb; 
    padding: 2rem;
    margin: 5rem;
    width: 70%;
    box-shadow: 0 2rem 1.5rem rgba(51,51,51,.4);
    transform: skew(15deg);

}
.story-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover; 
    margin-right: 5rem;
    transform: skewX(-10deg);

}
.story {
    transform: skewX(-1deg);

}
.story-text {
    letter-spacing: .1rem;

}
.story-heading {
    font-size: 2.5rem;
    text-transform:uppercase ;
    color: var(--grey-color);
    margin-bottom: 1rem;
    transform: skewX(-10deg);
}
.story-paragraph {
    font-size: 1rem;
    color: var(--light-grey-color);
    transform: skewX(-15deg);
    text-indent: 15px;

}

/*end of storeis*/

/* callery*/



.photobox{
    display: inline-block;
  }
  
  .photobox__previewbox{
    position: relative;
    overflow: hidden;
  }
  
  .photobox__preview{
    display: block;
    max-width: 100%;
  }
  
  .photobox__previewbox:before{
    content: "";
  }
  
  /* type 1 */
  
  .photobox_type1 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    border-radius: 50%;
    
    position: absolute;
    top: 0;
    left: 0;
  
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    transition: transform calc(var(--photoboxAnimationDuration, .4s) / 2) ease calc(var(--photoboxAnimationDuration, .2s) / 2);
    will-change: transform;
    transform: scale(0);
  }
  
  .photobox_type1:hover .photobox__previewbox:before{
    transform: scale(2);
    transition-duration: var(--photoboxAnimationDuration, .4s);
    transition-delay: 0s;
  }
  
  .photobox_type1 .photobox__label{
    width: 50%;
    transform: translate(-200%, -50%);
    transition: transform var(--photoboxAnimationDuration, .4s) ease-out;
    will-change: transform;
    
    position: absolute;
    top: 50%;
    left: 15%;
  }
  
  .photobox_type1:hover .photobox__label{
    transition-duration: var(--photoboxAnimationDuration, .4s);
    transform: translate(0, -50%);
  }
  
  /* type 2*/
  
  .photobox_type2 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    border-radius: 50%;
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    
    position: absolute;
    top: 0;
    right: 0;
  
    transition: transform var(--photoboxAnimationDuration, .2s) ease calc(var(--photoboxAnimationDuration, .2s) / 2);
    will-change: transform;
    transform: scale(0);
  }
  
  .photobox_type2:hover .photobox__previewbox:before{
    transform: scale(2);
    transition-duration: var(--photoboxAnimationDuration, .4s);
    transition-delay: 0s;
  }
  
  .photobox_type2 .photobox__label{
    width: 50%;
    text-align: right;
    
    transform: translate(200%, -50%);
    transition: transform var(--photoboxAnimationDuration, .4s) ease-out;
    will-change: transform;
    
    position: absolute;
    top: 50%;
    right: 15%;
  }
  
  .photobox_type2:hover .photobox__label{
    transition-duration: var(--photoboxAnimationDuration, .4s);
    transform: translate(0, -50%);
  }
  
  /* type 3 */
  
  .photobox_type3 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  
    transition: transform var(--photoboxAnimationDuration, .4s) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
  }
  
  .photobox_type3:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: calc(var(--photoboxAnimationDuration, .4s) * 2);
  }
  
  .photobox_type3 .photobox__label{
    width: 95%;
    text-align: center;
    
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity var(--photoboxAnimationDuration, .4s) ease-out;
    will-change: opacity;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
  }
  
  .photobox_type3:hover .photobox__label{
    transition-duration: calc(var(--photoboxAnimationDuration, .4s) / 2);
    transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);
    opacity: 1;
  }
  
  .photobox_type3 .photobox__preview{
      transition: transform var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
      transform: scale(1);
  }
  
  .photobox_type3:hover .photobox__preview{
    transform: scale(1.2);
  }
  
  /* type 4 */
  
  .photobox_type4 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  
    transition: transform var(--photoboxAnimationDuration, .4s) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
  }
  
  .photobox_type4:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: calc(var(--photoboxAnimationDuration, .4s) * 2);
  }
  
  .photobox_type4 .photobox__label{
    width: 95%;
    text-align: center;
    
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity var(--photoboxAnimationDuration, .4s) ease-out;
    will-change: opacity;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
  }
  
  .photobox_type4:hover .photobox__label{
    transition-duration: calc(var(--photoboxAnimationDuration, .4s) / 2);
    transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);
    opacity: 1;
  }
  
  .photobox_type4 .photobox__preview{
      transition: transform var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
      transform: scale(1) translate(0, 0);
  }
  
  .photobox_type4:hover .photobox__preview{
    transform: scale(1.2) translate(4%, 4%);
  }
  
  /* type 5 */
  
  .photobox_type5 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
    transform: translate(-50%, -50%) scale(0);
    will-change: transform;
  }
  
  .photobox_type5:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
  }
  
  .photobox_type5 .photobox__label{
    width: 95%;
    text-align: center;
    
    transform: translate(-200%, -50%);
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease-out;
    will-change: transform;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
  }
  
  .photobox_type5:hover .photobox__label{
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);
    transform: translate(-50%, -50%);
  }
  
  .photobox_type5 .photobox__preview{
      transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
      transform: scale(1);
  }
  
  .photobox_type5:hover .photobox__preview{
    transform: scale(1.2);
  }
  
  /* type 6 */
  
  .photobox_type6 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
  
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
  }
  
  .photobox_type6:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
  }
  
  .photobox_type6 .photobox__label{
    width: 95%;
    text-align: center;
    
    transform: translate(-200%, -50%);
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease-out;
    will-change: transform;
    
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .photobox_type6:hover .photobox__label{
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);
    transform: translate(-50%, -50%);
  }
  
  /* type 7 */
  
  .photobox_type7 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
  }
  
  .photobox_type7:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
  }
  
  .photobox_type7 .photobox__label{
    width: 95%;
    text-align: center;
    
    transform: translate(-200%, -50%);
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease-out;
    will-change: transform;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
  }
  
  .photobox_type7:hover .photobox__label{
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);
    transform: translate(-50%, -50%);
  }
  
  .photobox_type7 .photobox__preview{
      transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
      transform: scale(1) rotate(0);
  }
  
  .photobox_type7:hover .photobox__preview{
    transform: scale(1.2) rotate(5deg);
  }
  
  /* type 8 */
  
  .photobox_type8 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
  }
  
  .photobox_type8:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
  }
  
  .photobox_type8 .photobox__label{
    width: 95%;
    text-align: center;
    
    opacity: 0;  
    transition: opacity calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity, transform;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    z-index: 3;
  }
  
  .photobox_type8:hover .photobox__label{
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);
    transition-delay: calc(var(--photoboxAnimationDuration, .8s) / 4);
  }
  
  .photobox_type8 .photobox__preview{
      transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
      transform: scale(1) rotate(0);
  }
  
  .photobox_type8:hover .photobox__preview{
    transform: scale(1.2) rotate(5deg);
  }
  
  /* type 9 */
  
  .photobox_type9 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
  }
  
  .photobox_type9:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
  }
  
  .photobox_type9 .photobox__label{
    width: 95%;
    text-align: center;
    
    opacity: 0;  
    transition: opacity calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity, transform;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    z-index: 3;
  }
  
  .photobox_type9:hover .photobox__label{
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);
    transition-delay: calc(var(--photoboxAnimationDuration, .8s) / 4);
  }
  
  .photobox_type9 .photobox__preview{
      transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
      transform: scale(1);
  }
  
  .photobox_type9:hover .photobox__preview{
    transform: scale(1.2);
  }
  
  /*
  * demo styles for photobox
  */
  
  .photobox{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    width: 33.33333%;
    --photoboxOverlay: rgba(174, 56, 27, 0.7);
    /*--photoboxAnimationDuration: .5s;*/
  }
  
  @media screen and (max-width: 480px){
    .photobox{
      width: 100%;
    }
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  @media (min-width: 768px){
  
    html{
      font-size: 62.5%;
    }
  }
  
  @media (max-width: 767px){
  
    html{
      font-size: 50%;
    }
  }
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    color: #fff;
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;   
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  a:hover, a:focus{
    text-decoration: underline;
  }
  
  .page{
    flex-grow: 1;
    order: 1;
  }
  
  .page__container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  
  
  

/* end of gallery */
/*end of gallery*/

/* start of contact*/
.contact {
    padding: 15rem;
    text-align: center;
    background: url("navbar-bg.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.contact-heading {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3rem;
    color: var(--while-color);
    text-shadow: 0 1rem 2rem #000;
    margin-bottom: 4rem;
    margin-top: 8rem;
}
.contact-form {
    width: 70rem;
    height: 30rem;
    background-color: rgba(255,255,255,0);
    margin : auto;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 3rem 3rem #000;
    padding: 3rem;

}
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;

}
.input-groups {
    width: 100%;
    display: flex;
}
.input-groups .input-group {
    width: 48.5%;
}
.input-group input,
.input-group textarea {
    padding: 5rem 1rem 1rem 1 rem;
    background-color:  rgba(255,255,255,0.5);
    border: 1rem solid var(--secondary-color);
    font-size: .7rem;
    color: var(--light-grey-color);
    letter-spacing: .1rem;
    border-radius: .5rem;

}
.input-group textarea {
    height: 7rem;
    padding-top: 2rem;
}

.input-group input,
.input-group textarea {
    border: .1rem solid #ccc;
    
}

.contact-input2  {
    margin-left: 2rem;
}
.input-group label {
    font-size: .2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--gry-color);
    position: absolute;
    top:.03rem;
    left: 1.7rem;

}
.contact-input {
    height: 60px;
    width: 100%;

}
.form-btn {
    width: 15%;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-top: .1rem;
    background-color:rgba(255,255,255,0.6);
    border-radius: .5rem;
}







/* end of contact*/


